:root {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  --text-primary: #e2e2e2;
  --text-secondary: #96442e;
  --text-bg: #202020;
  --bg-primary: #101010;
  --bg-secondary: #141418;
}

::selection {
  background: var(--text-secondary);
  color: var(--text-primary);
}

body {
  color: var(--text-primary);
  background-color: var(--bg-primary);
  margin: 0;
  padding: 0;
}

a {
  text-decoration: inherit;
}

/* ===== */
/* FIXED */
/* ===== */

.nav-flex {
  position: fixed;
  width: 100vw;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.name {
  font-size: 35px;
  font-family: "Dancing Script", cursive;
  color: var(--text-primary);
  margin-left: 20px;
  transition: all 0.35s linear;
}

.name:hover {
  color: var(--text-secondary);
}

.nav {
  margin-right: 20px;
  position: relative;
  display: inline-block;
}

.nav-link {
  color: var(--text-primary);
  margin: 0;
  padding: 0 20px;
  border-bottom: 1px solid var(--text-primary);
  transition: all 0.35s linear;
}

.nav-link:hover {
  border-bottom: 1px solid var(--text-secondary);
}

/* ==== */
/* HOME */
/* ==== */

#home {
  height: 100vh;
  position: relative;
}

.hello-there {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
  color: var(--text-bg);
  font-size: 15vw;
  user-select: none;
}

.hello-there span {
  color: var(--text-secondary);
}

.home-content {
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
}

.home-name span {
  color: var(--text-secondary);
}

.home-anchor {
  width: fit-content;
  padding: 5px;
  text-align: center;
}

.anchor-span {
  color: var(--text-primary);
  transition: all 0.35s ease-in-out;
}

.anchor-svg {
  width: 25px;
  height: 25px;
  padding-left: 5px;
  fill: var(--text-primary);
  transition: all 0.35s ease-in-out;
  vertical-align: middle;
}

.home-anchor:hover .anchor-svg {
  transform: rotate(90deg);
  fill: var(--text-secondary);
}

.home-anchor:hover .anchor-span {
  color: var(--text-secondary);
}

/* ===== */
/* ABOUT */
/* ===== */

#about {
  margin: 5rem 0 0 0;
  min-height: calc(90vh - 5rem);
  position: relative;
}

.about-me {
  position: absolute;
  bottom: 0;
  left: 00;
  margin: 0;
  color: var(--text-bg);
  font-size: 12vw;
  z-index: 8;
  user-select: none;
}

.about-me span {
  color: var(--text-secondary);
}

#about h2 {
  text-align: center;
  margin-bottom: 0;
}

#about hr {
  width: 90px;
  height: 6px;
  margin-bottom: 50px;
  background-color: var(--text-secondary);
  border: none;
}

.about {
  margin: 0 15vw;
  position: relative;
  display: flex;
  z-index: 9;
}

.about-p {
  display: flex;
  align-items: center;
}

.about-p p {
  margin-right: 10%;
  font-size: 28px;
}

.about img {
  width: 35%;
  height: 35%;
  margin: auto;
  border-radius: 50%;
}

/* ====== */
/* SKILLS */
/* ====== */

#skills {
  margin: 5rem 0 0 0;
  min-height: calc(90vh - 5rem);
  border: solid white 2px;
  position: relative;
}

.skills {
  position: absolute;
  top: 30%;
  left: -11%;
  margin: 0;
  color: var(--text-bg);
  font-size: 12vw;
  z-index: 8;
  user-select: none;
  transform: rotate(90deg);
}

.skills span {
  color: var(--text-secondary);
}

#skills h2 {
  text-align: center;
  margin-bottom: 0;
}

#skills hr {
  width: 90px;
  height: 6px;
  margin-bottom: 50px;
  background-color: var(--text-secondary);
  border: none;
}

.skill-container {
  position: relative;
  z-index: 9;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5%;
}

.skill-container svg,
.skill-container img {
  width: 150px;
  height: 150px;
  margin: 20px;
  fill: white;
}

/* ======== */
/* PROJECTS */
/* ======== */

#projects {
  margin: 5rem 0 0 0;
  min-height: calc(100vh);
  position: relative;
}

.p-bg {
  position: absolute;
  top: 43%;
  right: -15%;
  margin: 0;
  color: var(--text-bg);
  font-size: 12vw;
  z-index: 8;
  user-select: none;
  transform: rotate(-90deg);
}

.p-bg span {
  color: var(--text-secondary);
}

.p-title {
  text-align: center;
  margin-bottom: 0;
}

#projects hr {
  width: 90px;
  height: 6px;
  margin-bottom: 50px;
  background-color: var(--text-secondary);
  border: none;
}

.p {
  position: relative;
  z-index: 9;
}

.p-project {
  margin: 0 25vw 50px 25vw;
  padding: 20px;
  background-color: var(--text-bg);
}

.p-project h4,
.p-project h6 {
  margin: 0;
}

.p-link span {
  color: var(--text-primary);
  transition: all 0.35s linear;
}

.p-link svg {
  height: 15px;
  width: 15px;
  padding: 0 5px;
  fill: var(--text-primary);
  transition: all 0.35s linear;
}

.p-link:hover span {
  color: var(--text-secondary);
}

.p-link:hover svg {
  fill: var(--text-secondary);
}

/* ======= */
/* CONTACT */
/* ======= */

#contact {
  padding-bottom: 100px;
  position: relative;
}

#contact h1 {
  text-align: center;
  margin-bottom: 0;
}

#contact hr {
  width: 90px;
  height: 6px;
  margin-bottom: 50px;
  background-color: var(--text-secondary);
  border: none;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 40vw;
}

.input {
  padding: 5px 0 5px 10px;
  color: var(--text-primary);
  background-color: var(--text-bg);
  border: none;
  font-size: 15px;
}

.input:focus {
  outline: none;
  border-bottom: solid var(--text-secondary) 2px;
}

.form-name {
  grid-column: 1/1;
  margin-right: 10px;
  position: relative;
}

.form-email {
  margin-left: 10px;
}

.form-subject {
  grid-column: 1/3;
  height: 40px;
}

.form-msg {
  grid-column: 1/3;
  font-family: "Roboto", sans-serif;
  padding-top: 10px;
}

.form-t {
  height: 40px;
}

.form-b {
  margin-top: 10px;
}

.send {
  grid-column: 2/3;
  margin-top: 10px;
  width: 100%;
  justify-self: end;
  padding: 10px 0;
  background-color: var(--bg-primary);
  border: solid var(--text-secondary) 2px;
  color: var(--text-secondary);
  font-size: 16px;
}

.send:focus {
  outline: none;
}

/* (footer) */

.links {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

.link {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-primary);
  transition: all 0.35s linear;
}

.link svg {
  width: 20px;
  height: 20px;
}

.link:nth-child(2) svg,
.link:nth-child(3) svg {
  fill: var(--text-primary);
}

.link span {
  font-size: 15px;
}

.link:nth-child(1):hover svg {
  stroke: var(--text-secondary);
}

.link:nth-child(2):hover svg,
.link:nth-child(3):hover svg {
  fill: var(--text-secondary);
}

.link:hover span {
  color: var(--text-secondary);
}

.success {
  display: none;
}

.submitted {
  display: block;
  text-align: center;
  color: var(--text-secondary);
}

/* Small screens */
@media only screen and (max-width: 500px) {
  main {
    margin: 0;
    /* margin-bottom: 5rem; */
  }

  /* navbar */

  .nav {
    display: flex;
    flex-direction: column;
  }

  .nav-link {
    border: none;
  }

  .nav-link:nth-child(1) {
    display: none;
  }

  .nav-link:hover {
    border: none;
    color: var(--text-secondary);
  }

  /* home */

  .home-content {
    width: 75%;
    font-size: 20px;
  }

  /* about */

  .about-me {
    font-size: 20vw;
  }

  .about {
    flex-direction: column-reverse;
    margin: 0 7vw;
  }

  .about img {
    width: 75%;
  }

  /* projects */

  .projects {
    flex-direction: column;
  }

  .p-bg {
    right: -27%;
    font-size: 20vw;
  }

  .p-project {
    margin: 0 13vw 50px 13vw;
  }

  /* contact */

  .form {
    align-items: normal;
  }

  .form p {
    text-align: center;
  }

  .form form {
    margin: 0 5vw;
  }
}

/* medium screens */
@media only screen and (min-width: 500px) {
  /* About */

  .about {
    display: flex;
    flex-direction: column-reverse;
  }

  .about img {
    width: 50%;
    height: 50%;
  }

  /* skills */

  .skill-container svg,
  .skill-container img {
    margin: 15px;
  }

  /* Projects */

  .projects {
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 1000px) {
  .about {
    flex-direction: row;
  }

  .about img {
    width: 35%;
    height: 35%;
  }

  .send {
    width: 50%;
  }
}
